/*.tajweed_madd          { color: #facc15; }   /* Sariq */
/*.tajweed_ghunna        { color: #ef4444; }   /* Qizil */
/*.tajweed_idgham        { color: #22c55e; }   /* Yashil */
/*.tajweed_ikhfa         { color: #3b82f6; }   /* Ko‘k */
/*.tajweed_iqlab         { color: #a855f7; }   /* Binafsha */
/*.tajweed_qalqala       { color: #64748b; }   /* Kulrang */
/*.tajweed_ikhfa_shafawi { color: #3b82f6; }